# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment variables
.env

# Chroma Database
db/chroma_db/
chroma_db/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/